.canvasContainer{
    margin-top: 2%;
}

#undo {
    /* margin-top: 8%; */
    left: 6px;
    margin-left: 50%;
    position: absolute;
}

#canvas1{
    position: absolute;
}
.canvas {
    /* border: 1px solid black; */
    margin-left: 3%;
}
body {
margin: 0;
padding: 0;
overflow: auto;
background-color: #303030;
}
/* button {
position: absolute;
top: 5px;
left: 5px;
z-index: 2;
} */
p {
    margin-bottom: 10px;
    margin-top: 40px;
    opacity: 0.7;
    color: rgb(182, 182, 182);
    font-size: 20px;
    /* font-style:unset; */
}
#sliderX{
    margin-left: 50%;
}

.slider{
    /* transform:translate(-50%,-50%); */
    /* padding:20px; */
    background:#000000;
    border:1px solid #00acee;
    border-radius:20px;
    /* ; */
}

#sliderY{
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr; 
    margin-left: 50%;
    width: 12px;
    display: table-cell;


}

.slider:hover {
    opacity: 1;
}

#Grid{
    position:relative;
    /* z-index:100; */
}

#input{
    margin-left: 3%
}
/* .slider{
    position:  relative;
}
#slider{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border: 3px;
} */

.dragdrop{
    float: inline-start;
    margin-left: 3%;
    margin-right: 2%;
}